{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('back/user/_form.html.twig') }}

    <a href="{{ path('app_b_a_c_k_user_index') }}">back to list</a>
{% endblock %}
